<header class="d-flex flex-row align-items-center justify-content-between p-4 primary">
    <div class="d-flex flex-row align-items-center justify-content-center">
        
        <img src="/assets/ht-logo.png" alt="Hafiza Trust Logo" width="100px" height="auto" />
        <h1 class="zain-bold m-0 mx-3">Hafiza Trust</h1>
    </div>

    <!-- <div>
        <div class="d-flex flex-row align-items-center justify-content-center">
            <a routerLink="/main" routerLinkActive="router-link-active">
              <img src="/assets/ht-logo.png" class="cursor-pointer" 
                alt="Hafiza Trust Logo"  width="100px" height="auto"/>
            </a>
            <h1 class="zain-bold m-0 mx-3">Hafiza Trust</h1>
        </div>
 <div>
        <p>username</p>
        <button mat-raised-button (click)="logout()">Logout</button>
    </div> -->
    @if(user){
      <div class="space-x-4 header-item d-flex flex-row align-items-center justify-content-center">
          <div role="button" (click)="toggleSideNav()">
            @if(showFiller)
            {
                <mat-icon>arrow_forward_ios</mat-icon>
            }
            @else 
            {
                <mat-icon>arrow_back_ios</mat-icon>
            }
            
              <img src="{{ user?.image}}" style="display: inline;"/>
          </div>
          
          
      </div>
  }
 <!--  < <div >
     button mat-button>Login</button>
     <button mat-raised-button (click)="logout()">Logout</button>
  </div> -->
</header>
