<header class="d-flex flex-row align-items-center justify-content-around p-4 primary">
    <div class="d-flex flex-column align-items-center">
        <div>
            <img src="/assets/ht-logo.png" alt="Hafiza Trust Logo" width="10%" height="auto"/>

        </div>
        <div>
            <h1>Hafiza Trust</h1>

        </div>
    </div>
    <div>
        <p>username</p>
        <button mat-raised-button (click)="logout()">Logout</button>
    </div>
    <div >
        <button mat-button>Login</button>
    </div>
</header>