/* bank-card.component.css */
.bank-card {
    width: 400px;
    margin-bottom: 100px;
    border-radius: 15px;
    background: var(--color-slate-300);
    color: black;
  }
  
  .mat-card-header {
    text-align: center;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .card-detail {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .label {
    font-weight: bold;
  }

.main{
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: none;
    border: none;
}

h1{
    font-size: 30px;
    margin: 20px;
}

button{
    margin: 20px;
}

img {
    margin: 20px;
    height: 100px;
    width: 100px;
}