@if (user()) {
    <!-- bank-card.component.html -->
<div class="main">
<mat-card class="bank-card">
    <!-- <mat-card-header>
      <mat-card-title>Bank Card</mat-card-title>
    </mat-card-header> -->
    <mat-card-content>
      <div class="card-content">
        <div class="card-content">
          <span class="label">Available Balance</span>
          <span>{{ user()?.balance | currency: 'kwd' }}</span>
        </div>
        <div class="card-detail">
          <span class="label">ID</span>
          <span>{{ user()?.username }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <button mat-raised-button><a [routerLink]="['/user/beneficiaries']" routerLinkActive="router-link-active">Transfer</a></button>
    <button mat-raised-button (click)="withdraw()">Withdraw</button>
</div>
}
