<!-- <h2 mat-dialog-title>Hi {{data.name}}</h2> -->
<mat-dialog-content>
  <!-- <p>What's your favorite animal?</p> -->
  <mat-form-field>
    <mat-label>amount</mat-label>
    <input matInput [(ngModel)]="transferModel().amount" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>username</mat-label>
    <select matNativeControl required [(ngModel)]="transferModel().username">
        @for (beneficiary of beneficiaries; track $index) {
            <option value="{{beneficiary.username}}">{{beneficiary.username}}</option>
        }
    </select>
    <!-- <input matInput [(ngModel)]="transferModel().username" /> -->
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="transferModel()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>