<!-- <mat-dialog-content>
   @for (input of inputModel(); track $index) {
    <mat-form-field>
      <mat-label>{{input.dataName}}</mat-label>
      @if (input.dataType === 'text' || input.dataType === 'number') {
        <input matInput type={{input.dataType}} [(ngModel)]="input.data"/>
      }
      @else if (input.dataType === 'select') {
        <select matNativeControl required [(ngModel)]="input.data">
          @for (opt of input.options; track $index) {
              <option value="{{opt}}">{{opt}}</option>
          }
        </select>
      }
    </mat-form-field>
   }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="inputModel()" cdkFocusInitial disabled="{{input.data<0}}">Ok</button>
</mat-dialog-actions> -->
<mat-dialog-content>
  @for (input of inputModel(); track $index) {
    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>
        {{ input.dataName | titlecase }}
        <span *ngIf="['username', 'amount'].includes(input.dataName)" class="text-red-600"></span>
      </mat-label>
      
      @if (input.dataType === 'number') {
        <input
          matInput
          type="number"
          [(ngModel)]="input.data"
          [min]="0"
          required
        />
        <mat-error *ngIf="input.data < 0">
          Amount must be zero or more
        </mat-error>
      }

      @else if (input.dataType === 'select') {
        <select
          matNativeControl
          required
          [(ngModel)]="input.data"
        >
          <option value="" disabled selected>Select...</option>
          @for (opt of input.options; track $index) {
            <option [value]="opt">{{ opt }}</option>
          }
        </select>
      }

      @else {
        <input
          matInput
          type="{{input.dataType}}"
          [(ngModel)]="input.data"
          required
        />
      }
    </mat-form-field>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="inputModel()"
    [disabled]="isFormInvalid()"
    cdkFocusInitial
  >
    OK
  </button>
</mat-dialog-actions>
