<!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
  
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput
           formControlName="username"
           required>
    @if (registerForm.get('username')?.invalid) {
      <mat-error>Please enter a username</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput
           formControlName="password"
           required>
    @if (registerForm.get('password')?.invalid) {
      <mat-error>Please enter a password</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile image</mat-label>
    <input matInput
           formControlName="image"
           required>
    @if (registerForm.get('image')?.invalid) {
      <mat-error>Please upload an image</mat-error>
    }
  </mat-form-field>
    
  
    <button type="submit" [disabled]="registerForm.invalid" mat-raised-button color="primary">Register</button>
  </form>
   -->
   <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50" (click)="closeModal()">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-sm" (click)="$event.stopPropagation()">
      <h2 class="text-xl font-bold mb-4">Login</h2>
      <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

        <label for="userName">User Name:</label>
        <input formControlName="userName" placeholder="example: Hafiza" class="mb-3 w-full p-2 border rounded" />
        <app-form-error [control]="registerForm.get('userName')" fieldName="userName"></app-form-error>
        
        <label for="password">Password:</label>
        <input formControlName="password" type="password" placeholder="for example: 1@Hfz5332" class="mb-3 w-full p-2 border rounded" />
        <app-form-error [control]="registerForm.get('password')" fieldName="Password"></app-form-error>

        <label for="image">Image:</label>
        <input formControlName="image" type="file" (change)="onFileSelected($event)" placeholder="Image" accept="image/*" class="mb-3 w-full p-2 border rounded" />
        <app-form-error [control]="registerForm.get('image')" fieldName="Image"></app-form-error>

        <button type="submit" [disabled]="registerForm.invalid" class="bg-blue-600 text-white px-4 py-2 rounded w-full">Register</button>
      </form>
    </div>
  </div>
  