  <div class="h-100">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
      <div class="w-100">
        
        <app-header (sidenavEvent)="drawer.toggle()"></app-header>
      </div>
      <mat-drawer-container class="example-container w-100" autosize>
        <mat-drawer #drawer class="example-sidenav d-fleX" mode="side" position="end">
          

          <a class="profile-link m-2" routerLink="/user/profile">{{user?.username}}<mat-icon class="pt-1">edit</mat-icon></a>
          <a class="dropdown-item m-2" href="#">Action</a>
          <a class="dropdown-item m-2" href="#">Another action</a>
          <a class="dropdown-item m-2" href="#">Something else here</a> 
          <button mat-button color="accent" style="font-weight: bold;">Logout<i class="bi bi-box-arrow-left mx-1"></i></button>
        </mat-drawer>
        <div class="example-sidenav-content">
          <div >  
            <router-outlet></router-outlet>
          </div>
        </div>
        
      
      </mat-drawer-container>
      
    </div>
  </div>
  <app-loader></app-loader>

