<!-- <nav>
    <div class="buttons">
        <button [routerLink]="['/login']" routerLinkActive="router-link-active" mat-button >Login</button>
        <button [routerLink]="['/register']" routerLinkActive="active-button" mat-button>Register</button>
    </div>
</nav>
<div class="main-content">
    <a routerLink="/main" routerLinkActive="router-link-active">
        <img src="/assets/v1.png" class="cursor-pointer" 
          alt="Visa Trust image"  width="100px" height="auto"/>
      </a>
</div>
<div class="footer">
    <h1>About Us</h1>
     <h4>
        At Hafiza Trust, we believe trust is built through care, consistency, and transparency.
        Inspired by the name Hafiza—“protector”—we’re here to safeguard your finances and support 
        your goals. Whether you're saving, investing, or growing your business, we offer smart, 
        secure, and personalized banking every step of the way.
     </h4>
</div> -->

<div class="page-wrapper">
    <div class="flex flex-1 items-center justify-between px-12 py-20">
  
      <div class="flex-shrink-0">
          <img
            src="/assets/vsr1.png"
            alt="Visa Trust image"
            class="visa-image"
          />
      </div>
  
      <div class="flex flex-col items-end space-y-4 mr-20">

        <button
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
          mat-button
          style="margin-bottom: 10px"
          class="w-48 py-3 px-5 text-lg border border-blue-600 rounded hover:bg-blue-600 hover:text-white transition "        >
          Login
        </button>
        <button
          [routerLink]="['/register']"
          routerLinkActive="active-button"
          mat-button
          class="w-48 py-3 px-5 text-lg border border-blue-600 rounded hover:bg-blue-600 hover:text-white transition"        >
          Register
        </button>
      </div>
  
    </div>
  
    <!-- FOOTER -->
    <footer class="footer">
        <h1>About Us</h1>
        <h4>
          At Hafiza Trust, we believe trust is built through care, consistency, and transparency.
          Inspired by the name Hafiza—“protector”—we’re here to safeguard your finances and support
          your goals. Whether you're saving, investing, or growing your business, we offer smart,
          secure, and personalized banking every step of the way.
        </h4>
      </footer>
</div>
      
  
  