/* .buttons{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    height: 40vh;
}
.buttons button{
    margin: 10px;
}

.main-content{
    height: 80vh;
}

.footer{
    height: 30vh;
    background-color: var(--secondary-color);
} */