/* You can add global styles to this file, and also import other style files */
/* @use '@angular/material' as mat;
*/

@import "tailwindcss";

:root{
    --primary: #6B9080;
    --secondary: #A4C3B2;
    --tertiary: #dacfac;
    --ht-grey: #35393C;
    --ht-light: #F6FFF8;
}

html, body { height: 100%; }
body { margin: 0; font-family: "Zain", sans-serif; font-weight: 400; } 

.bg-primary{
    background-color: var(--primary)
}
.bg-secondary{
    background-color: var(--secondary)
}
.bg-tertiary{
    background-color: var(--tertiary)
}
.bg-grey{
    background-color: var(--ht-grey)
}
.bg-light
{
    background-color: var(--ht-light)
}
.text-primary{
    color: var(--primary)
}
.text-secondary{
    color: var(--secondary)
}
.text-tertiary{
    color: var(--tertiary)
}
.text-grey{
    color: var(--ht-grey)
}
.text-light
{
    color: var(--ht-light)
}

.main
{
    background-color: var(--primary);
}
a{
    text-decoration: none;
    color: var(--secondary);
}
ul{
    margin: 5px
}
.alexandria-100 {
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  .alexandria-200 {
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
  .alexandria-300 {
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  .alexandria-400 {
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .alexandria-500 {
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .alexandria-600 {
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  .alexandria-700 {
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .alexandria-800 {
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  .alexandria-900 {
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }

  .zain-extralight {
    font-family: "Zain", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .zain-light {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .zain-regular {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .zain-bold {
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .zain-extrabold {
    font-family: "Zain", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .zain-black {
    font-family: "Zain", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .zain-light-italic {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .zain-regular-italic {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .teko-300 {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  .teko-400 {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .teko-500 {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .teko-600 {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  .teko-700 {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
