<div class="sidebar d-flex flex-column justify-content-center align-items-start p-3">
    <div>
        <a [routerLink]="['/user']" routerLinkActive="router-link-active">Home</a>
    </div>
    <div>
        <a [routerLink]="['/user/transactions']" routerLinkActive="router-link-active">Transactions</a>
    </div>
    <div>
        <a [routerLink]="['/user/beneficiaries']" routerLinkActive="router-link-active">Beneficiares</a>
    </div>
    <div>
        <a [routerLink]="['/user/profile']" routerLinkActive="router-link-active">Edit Profile</a>
    </div>
    <div>
        <a [routerLink]="['/user/services']" routerLinkActive="router-link-active">Services</a>
    </div>
    
</div>