<div class="sidebar d-flex flex-column justify-content-center align-items-start p-3">
    <div>
        <a [routerLink]="['cards']" routerLinkActive="router-link-active">Cards</a>
    </div>
    <div>
        <a [routerLink]="['transactions']" routerLinkActive="router-link-active">Transactions</a>
    </div>
    <div>
        <a [routerLink]="['beneficiaries']" routerLinkActive="router-link-active">Beneficiares</a>
    </div>
    <div>
        <a [routerLink]="['cards']" routerLinkActive="router-link-active">User Profile</a>
    </div>
    <div>
        <a [routerLink]="['services']" routerLinkActive="router-link-active">Services</a>
    </div>
    
</div>