<mat-card class="col-12 px-5 py-3">
  <mat-card-title>
    Login
  </mat-card-title>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="d-flex flex-column justify-content-center">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput
             formControlName="username"
             required>
      @if (loginForm.get('username')?.invalid) {
        <mat-error>Please enter your username</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput
              type="password"
             formControlName="password"
             required>
      @if (loginForm.get('password')?.invalid) {
        <mat-error>Please enter your password</mat-error>
      }
    </mat-form-field>
    <div class="d-flex flex-column">
      <div>
        <button type="submit" [disabled]="loginForm.invalid" mat-raised-button class="primary" class="w-100">Login</button>
    <button type="button" (click)="navigateToHome()" mat-button class="w-100">Cancel</button>
      </div>
    </div>
    
  </form>
</mat-card>
<p>Don't have an account? <a routerLink="/register">Register here</a></p>

  