<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <label for="userName">User Name:</label>
    <input type="text" id="userName" formControlName="userName" />
    <app-form-error
      [control]="loginForm.get('userName')"
      fieldName="userName"
    ></app-form-error>
  
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" />
    <app-form-error
      [control]="loginForm.get('password')"
      fieldName="Password"
    ></app-form-error>
  
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
  