<mat-card>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput
             formControlName="username"
             required>
      @if (loginForm.get('username')?.invalid) {
        <mat-error>Please enter your username</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput
              type="password"
             formControlName="password"
             required>
      @if (loginForm.get('password')?.invalid) {
        <mat-error>Please enter your password</mat-error>
      }
    </mat-form-field>

    <button type="submit" [disabled]="loginForm.invalid" mat-raised-button color="primary">Login</button>
    <button type="button" (click)="navigateToHome()" class="bg-gray-300 hover:bg-gray-400 text-black px-4 py-2 rounded w-full">Cancel</button>
  </form>
</mat-card>

  